<!DOCTYPE html>
<html>
    <head>
        <title>NathanWuff's Cyber Space - New Page</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" type="image/x-icon" href="/media/icon.svg">
        
        <script src="/components.js"></script>
    </head>
    <body>
        <center>
            <table class="main-table" border="4" cellpadding="15" cellspacing="5" width="80%">
                <tr>
                    <td id="site-header" align="center" colspan="2"></td>
                </tr>
                <tr>
                    <td id="site-sidebar" width="20%" align="center" valign="top" class="sidebar"></td>
                    
                    <td width="80%" valign="top" class="content">
                        
                        <h2>Page Title Here</h2>
                        <p>Your content goes here!</p>
                        
                    </td>
                </tr>
                <tr>
                    <td id="site-footer" align="center" colspan="2"></td>
                </tr>
            </table>
        </center>
    </body>
</html>